* {box-sizing: border-box}

  .login-input[type=text], .login-input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.login-input[type=text]:focus, .login-input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  font-size: 1.1rem;
}

.login-button {
  background-color: #17408B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  border-radius: 10px;
}

.login-button:hover {
  opacity:1;
}

.container {
  padding: 16px;
}

.login-link {
    color: black;
    font-weight: bold;
}

.login-label {
    font-weight: bold;
    font-size: 1.2rem;
}

.error-message {
  font-size: 1.1rem;
  font-weight: bold;
  color: #C9082A; 
}

.login-p {
    font-size: 1.1rem;
    color: rgb(109, 101, 101);
    font-weight: bold;
}

.home-text {
    color: rgb(109, 101, 101);
}

.home-main {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
}

.home-button {
  background-color: #17408B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid 4px;
  cursor: pointer;
  width: 20%;
  opacity: 0.8;
  border-radius: 10px;
}