.signup-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.signup-div-form {
    display: inline-block;
}


.form-label {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 10px;
}

.form-input {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-form {
   margin-left: 30%;
}

button {
    margin-top: 10%;
    margin-left: 40%;
}

p {
    color: lightgrey;
    font-size: 1.1rem;
    font-weight: bold;
}

.form-link {
    color: white;
}