@media(max-width: 600px) {
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .date {
        text-align: center;
    }
    
    .container-popup {
        flex-flow: row wrap;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        opacity: 0.98;
        background-color: rgba(0,0,0,0.4);
        overflow: auto;
    }
    
    .cross-training-delete {
        z-index: 1;
        width: 60%;
        border-radius: 4px;
        margin-left: 20%;
        background-color: white;
    }
    
    .close-training-popup {
        color: #aaa;
        float: right;
        padding-right: 8px;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close-training-popup:hover {
        cursor: pointer;
    }
    
    .training-delete-container {
        background-color: #fefefe;
        border-radius: 6px;
        margin: 15% auto;
        padding: 20px;
        left: 40%;
        width: 100%;
    }
    
    .details {
        float: left;
     }
    
     .training-button {
         width: 30px;
         height: 30px;
         background-color: #17408B;
         border-radius: 5px;
         border: 0.2 solid black;
         color: white;
         font-weight: bold;
     }
    
     .training-button:hover {
         background-color: royalblue;
         cursor: pointer;
     }
    
     .delete-training-text {
         color: #C9082A;
         font-weight: bold;
         font-size: 1.1rem;
         text-align: center;
     }
    
     .delete-training-button {
         text-align: center;
         align-items: center;
         margin-top: 30px;
         width: 120px;
         height:30px;
         background-color: #C9082A;
         border-radius: 6px;
         color: white;
         font-weight: bold;
         opacity: 0.9;
     }
    
     .delete-training-btn {
         width: 120px;
         height: 30px;
         align-items: center;
         margin-left: 42%;
         background-color: royalblue;
         border-radius: 6px;
         color: white;
         font-weight: bold;
     }
    
      .delete-training-btn:hover {
          background-color:  #C9082A;
          cursor: pointer;
      }
    
      .delete-training-button:hover {
          background-color: royalblue;
          cursor: pointer;
      }
    
     .attendance-button {
        width: 55px;
        height: 30px;
        color: white;
        border-radius: 5px;
        background-color: royalblue;
        font-weight: bold;
    }
    
    .attendance-button:hover{
        background-color: #17408B;
        cursor: pointer;
    }

    table{
        border-collapse: collapse;
        font-size: 0.9rem;
        width: 90vw;
        border-radius: 5px 5px 0 0;
      }
        thead tr{
        background-color: #17408B;
        color: white;
        font-weight: bold;
        }
    
        tbody tr{
          border-bottom: 1.75px solid #17408B;
    
        
        }
        tbody tr:nth-of-type(even) {
            background-color: white;
        }
    
        .edit-button {
            margin-right: 35px;
            width: 80px;
            height: 35px;
            margin-bottom: 10px;
            background-color: #17408B;
            color: white;
            font-weight: bold;
            border-radius: 5px;
        
        }
    
        .edit-button:hover {
            background-color: royalblue;
            cursor: pointer;
        }
}




/*

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.date {
    text-align: center;
}

.container-popup {
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 98%;
    height: 100%;
    border-radius: 4px;
    opacity: 0.98;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}

.cross-training-delete {
    z-index: 1;
    width: 60%;
    border-radius: 4px;
    margin-left: 20%;
    background-color: white;
}

.close-training-popup {
    color: #aaa;
    float: right;
    padding-right: 8px;
    font-size: 28px;
    font-weight: bold;
}

.close-training-popup:hover {
    cursor: pointer;
}

.training-delete-container {
    background-color: #fefefe;
    border-radius: 6px;
    margin: 15% auto; /* 15% from the top and centered 
    padding: 20px;
    left: 40%;
    width: 100%;
}

.details {
    float: left;
 }

 .training-button {
     width: 65px;
     height: 30px;
     margin-right: 30px;
     background-color: #17408B;
     border-radius: 5px;
     border: 0.2 solid black;
     color: white;
     font-weight: bold;
 }

 .training-button:hover {
     background-color: royalblue;
     cursor: pointer;
 }

 .delete-training-text {
     color: #C9082A;
     font-weight: bold;
     font-size: 1.1rem;
     text-align: center;
 }

 .delete-training-button {
     text-align: center;
     align-items: center;
     margin-right: 20px;
     margin-top: 30px;
     width: 120px;
     height:30px;
     background-color: #C9082A;
     border-radius: 6px;
     color: white;
     font-weight: bold;
     opacity: 0.9;
 }

 .delete-training-btn {
     width: 120px;
     height: 30px;
     align-items: center;
     margin-left: 42%;
     background-color: royalblue;
     border-radius: 6px;
     color: white;
     font-weight: bold;
 }

  .delete-training-btn:hover {
      background-color:  #C9082A;
      cursor: pointer;
  }

  .delete-training-button:hover {
      background-color: royalblue;
      cursor: pointer;
  }

 .attendance-button {
    width: 55px;
    height: 30px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 8px;
    color: white;
    border-radius: 5px;
    background-color: royalblue;
    font-weight: bold;
}

.attendance-button:hover{
    background-color: #17408B;
    cursor: pointer;
}


.main-div{
    max-width: 650px;
    margin-top: 5px;
    width: 800px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 

}

form {
    max-width: 650px;
    overflow: hidden;
}

form input {
    width: 35px;
    height: 30px;
    border-radius: 4px;
    margin-left: -10px;
    margin-bottom: 6px;
}

table{
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 1200px;
    border-radius: 5px 5px 0 0;
  }
    thead tr{
    background-color: #17408B;
    color: white;
    font-weight: bold;
    }

    tbody tr{
      border-bottom: 1.75px solid #17408B;

    
    }
    tbody tr:nth-of-type(even) {
        background-color: white;
    }

    .edit-button {
        margin-right: 35px;
        width: 80px;
        height: 35px;
        margin-bottom: 10px;
        background-color: #17408B;
        color: white;
        font-weight: bold;
        border-radius: 5px;
    
    }

    .edit-button:hover {
        background-color: royalblue;
        cursor: pointer;
    }

    */