
@media(max-width: 600px) {

.training-main{
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.border-table {
    border-bottom: 2px solid black;
}

.single-training-date {
    text-align: center;
    margin-bottom: 14px;
 }

 .player-attendance {
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    width: 65%;
 }

 .player-attendance td, .player-attendance th {
    border-top: 1px solid #ddd;
  }
  
  .player-attendance tr:nth-child(even){background-color: #ddd}
  
  .player-attendance tr:hover {background-color: #ddd;}
  
  .player-attendance th {
    padding: 8px 8px 8px 8px;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    background-color: #17408B; 
    color: white;
  }

  .stats-training {
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #ddd;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    width: 100%;
 }

 .stats-training td, .stats-training th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .stats-training tr:nth-child(even){background-color: #ddd}
  
  .stats-training tr:hover {background-color: #ddd;}
  
  .stats-training th {
    padding: 8px 2px 8px 2px;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    background-color: #17408B; 
    color: white;
  }

  .edit-training-button {
      background-color: royalblue;
      color: white;
      border: 1px solid #17408B;
      border-radius: 3px;
  }

  .delete-training-button {
      margin-top: 15px;
      background-color: #C9082A;
      color: white;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 15px;
      width: 130px;
      height: 25px;
  }

  .details-training-edit {
    position: fixed; 
    top: 0;
    left: 0;
    opacity: 0.95;
    display: flex;
    z-index: 1;
    padding: 5px 4px 5px 8px;
    border-radius: 3px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .close-training-popup {
    position: absolute;
    font-size: 2.5rem;
    opacity: 0.5;
    width: 32px;
    top: 0;
    right: 0;
  }

  .element-training-edit {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.2rem;
    color: black
  }

  .element-training-edit input {
      width: 35px;
      margin-left: 15px;
  }

  .element-training-edit button {
      width: 35px;

  }

  .button-training-submit{
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .submit-edit-training {
      padding: 5px 7px 5px 7px;
      border-radius: 5px;
      width: 80px;
      background-color: royalblue;
      color: white;
  }

  .player-name-title {
      display: flex;
      margin-bottom: 30px;
      text-decoration: underline;
      text-align: left;
      align-items: left;
  }
}

