
.main-div{
    max-width: 650px;
    width: 700px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 

}

form {
    max-width: 650px;
    overflow: hidden;
}

form input {
    width: 30px;
    height: 20px;
    margin-left: -15px;
}

table{
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 750px;
    border-radius: 5px 5px 0 0;
  }
    thead tr{
    background-color: #17408B;
    color: white;
    font-weight: bold;
    }
  
    tbody tr{
      border-bottom: 1.75px solid #17408B;

    
  
    }
    tbody tr:nth-of-type(even) {
        background-color: white;
    }

    .edit-button {
        margin-right: 20px;
        margin-left: 10px;
        width: 70px;
        margin-bottom: 10px;
        background-color: royalblue;
        color: white;
        font-weight: bold;
    }

    .attendance-button {
        width: 55px;
        margin-right: 20px;
        margin-left: 10px;
        margin-bottom: 8px;
        background-color: white;
        font-weight: bold;
    }