@media(max-width: 900px) {

.navbar{
    width: 100vw;
    height: 75px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #17408B;
    background-size: cover;
    color: black;
    opacity: 0.95;
}

.navbar-p{
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.burger-span {
    background-color: #f2f2f2;
    cursor: pointer;
    width: 30px;
    height: 3px;
    margin-top: 3px;
}

.flex-menu {
    position: fixed; 
    top: 0;
    left: 0;
    opacity: 0.98;
    display: flex;
    z-index: 1;
    padding: 5px 4px 5px 8px;
    border-radius: 3px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
}

.align-menu {
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
}

#team-btn{
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.element-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black
}

.menu-p{
    font-size: 1.7rem;
    cursor: pointer;
    color: black;
    margin-right: 20px;
}

.close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 2.5rem;
    opacity: 0.5;
    width: 32px;
    margin-right: 10px;
    margin-top: 5px;
    top: 0;
    right: 0;
}

}

@media(min-width: 900px) {

    .navbar{
        width: 100vw;
        height: 75px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        background-color: #17408B;
        background-size: cover;
        color: black;
        opacity: 0.95;
    }
    
    .navbar-p{
        font-size: 1.3rem;
        cursor: pointer;
        color: white;
    }
    
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
        cursor: pointer;
    }
    
    .burger-span {
        background-color: #f2f2f2;
        cursor: pointer;
        cursor: pointer;
        width: 35px;
        height: 3px;
        margin-top: 5px;
    }
    
    .flex-menu {
        position: fixed; 
        top: 0;
        left: 0;
        opacity: 0.98;
        display: flex;
        z-index: 1;
        padding: 5px 4px 5px 8px;
        border-radius: 3px;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95vw;
        height: 100vh;
    }
    
    .align-menu {
        display: flex;
        height: 100px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #team-btn{
        margin-left: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }
    
    .element-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        color: black
    }
    
    .menu-p{
        cursor: pointer;
        font-size: 2rem;
        color: black;
        margin-right: 20px;
    }
    
    .close-menu {
        cursor: pointer;
        position: absolute;
        font-size: 3rem;
        opacity: 0.5;
        width: 32px;
        margin-right: 20px;
        margin-top: 10px;
        top: 0;
        right: 0;
    }
    
    }